/* public */
	body{
		background-color: white;
		margin: 0;
		padding: 0;
	}
	.clearfix{
		clear: both;
	}
	.text-center{
		text-align: center;
	}
/* public */

/* navigasi */
	#navigasi{
		position: fixed;
		top: 0;
		width: 100%;
	}
	#navigasi .wrapper{
		position: relative;
		width: 100%;
	}
	#navigasi .wrapper #set-wrapper{
		position: relative;
		margin: 0 auto;
		width: 90%;
	}
	/* sosmed */
		#navigasi #sosmed.wrapper{
			border-bottom: solid .5px rgb(223,223,223);
		}
		#navigasi #sosmed.wrapper label{
			float: left;
			padding: 5px;
			border-right: solid .5px rgb(223,223,223);
		}
		#navigasi #sosmed.wrapper label:last-child{
			border-right: solid .5px rgba(223,223,223,0);	
		}
		#navigasi #sosmed.wrapper label a{
			text-decoration: none;
		}
		#navigasi #sosmed.wrapper label a img{
			height: 10px;
			width: auto;
		}
	/* sosmed */
	/* detail */
		#navigasi #detail.wrapper .bar{
			float: left;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		#navigasi #detail.wrapper #name.bar{
			width: 40%;
			border-right: solid .5px rgb(223,223,223);
		}
		#navigasi #detail.wrapper #name.bar:last-child{
			border-right: solid .5px rgba(223,223,223,0);
		}
		#navigasi #detail.wrapper #name.bar img{
			height: 60px;
			width: auto;
		}
		#navigasi #detail.wrapper #phone.bar,
		#navigasi #detail.wrapper #location.bar,
		#navigasi #detail.wrapper #clock.bar{
			width: 20%;
			padding-left: 10px;
			padding-right: 10px;
			text-align: center;
		}
		#navigasi #detail.wrapper #phone.bar img,
		#navigasi #detail.wrapper #location.bar img,
		#navigasi #detail.wrapper #clock.bar img{
			height: 40px;
			width: auto;
			margin-bottom: 5px;
		}
		#navigasi #detail.wrapper #phone.bar p,
		#navigasi #detail.wrapper #location.bar p,
		#navigasi #detail.wrapper #clock.bar p{
			margin: 0;
			padding: 0;
		}
	/* detail */
	/* list */
		#navigasi #list.wrapper{
			background-color: rgb(38,38,38);
		}
		#navigasi #list.wrapper .bar-L{
			float: left;
		}
		#navigasi #list.wrapper .bar-L #container{
			padding: 5px;
			width: 150px;
			text-align: center;
		}
		#navigasi #list.wrapper .bar-L #container a{
			text-decoration: none;
			color: white;
		}
		#navigasi #list.wrapper .bar-R{
			float: right;
		}
	/* list */
/* navigasi */

/* footer */
	#footer{
		position: relative;
		width: 100%;
		background-color: rgb(38,38,38);
	}
	#footer #set-wrapper{
		position: relative;
		margin: 0 auto;
		width: 90%;
	}
	#footer #set-wrapper #content{
		position: relative;
		margin-bottom: 40px;
	}
	#footer #set-wrapper #content .bar{
		float: left;
		width: 50%;
	}
	#footer #set-wrapper #content #logo.bar img{
		height: 80px;
		width: auto;
	}
	#footer #set-wrapper #content #detail.bar h3{
		color: white;
		margin: 0;
		margin-bottom: 10px;
		padding: 0;
	}
	#footer #set-wrapper #content #detail.bar #find-us img{
		height: 30px;
		width: auto;
	}
	#footer #set-wrapper #content #detail.bar #contact p{
		margin: 0;
		padding: 0;
	}
	#footer #set-wrapper #copyright{
		position: relative;
		text-align: center;
	}
	#footer #set-wrapper #copyright label{
		position: relative;
		color: white;
		padding: 10px;
		border-right: solid .5px rgb(172,172,172);
	}
	#footer #set-wrapper #copyright label:last-child{
		border-right: solid .5px rgba(172,172,172,0);
	}
	#footer #set-wrapper #copyright label img{
		position: absolute;
	    margin-left: 5px;
	    bottom: -10px;
	}
/* footer */