/* mobile banner */
	@media (max-width: 480px) {
		#banner{
			height: 45vh;
		}
		#banner #descrip{
			top: 20vh;
		}
	}
/* mobile banner */

/* about */
	#about{
		position: relative;
		width: 100%;
		padding-top: 50px;
	}
	#about img#bottom{
		position: absolute;
		bottom: -150px;
		width: 100%;
		z-index: 2;
	}
	#about #set-wrapper{
		position: relative;
		margin: 0 auto;
		width: 90%;
		text-align: center;
	}
	#about #set-wrapper h1{
		color: rgb(38,38,38);
		margin-bottom: 40px;
        font-family: 'Raleway Bold';
	}
	#about #set-wrapper p{
		color: rgb(38,38,38);
		margin: 5px auto;
        font-family: 'Lato Light';
	}
	#about #set-wrapper .text-center{
		margin-top: 40px;
	}
	/* mobile */
	@media (max-width: 480px) {
			#about img#bottom{
				bottom: -70px;
			}
		}
	/* mobile */
/* about */

/* show top */
	#show-top{
		position: relative;
		width: 100%;
		background-color: rgb(217,217,217);
		margin-top: 30px;
		padding-top: 70px;
		padding-bottom: 10px;
	}
	#show-top #set-wrapper{
		position: relative;
		margin: 0 auto;
		width: 90%;
	}
	#show-top #set-wrapper #img{
		float: left;
		width: 55%;
	}
	#show-top #set-wrapper #img img{
		width: 100%;
		height: auto;
	}
	#show-top #set-wrapper #descrip{
		position: relative;
		float: right;
		width: 40%;
		margin-left: 5%;
		margin-top: 15vh;
	}
	#show-top #set-wrapper #descrip h1{
		margin: 0;
		color: rgb(237,28,36);
        font-family: 'Raleway Bold';
	}
	#show-top #set-wrapper #descrip p{
		color: rgb(61,61,61);
		margin-bottom: 30px;
		line-height: 1.41;
        font-family: 'Lato Light';
	}
	/* mobile */
		@media (max-width: 480px) {
			#show-top{
				margin-top: 35px;
				padding-top: 30px;
			}
			#show-top #set-wrapper #img{
				float: none;
				position: absolute;
				top: 40px;
				left: 5%;
				right: 5%;
				width: 90%;
			}
			#show-top #set-wrapper #descrip{
				margin: 20px 2.5%;
				width: 90%;
				padding: 2.5%;
				background-color: rgba(235,235,235,.75);
				z-index: 1;
			}
			#show-top #set-wrapper a.btn-gray{
				position: relative;
				bottom: 10px;
			}
		}
	/* mobile */
/* show top */

/* quotes */
	#quotes{
		position: relative;
		width: 100%;
		height: 70vh;
		margin-top: -45px;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: center;
	}
	#quotes #set-wrapper{
		position: relative;
		margin: 0 auto;
		width: 90%;
		text-align: center;
	}
	#quotes #set-wrapper h1{
		margin: 0;
		padding-top: 34.5vh;
		color: white;
        font-family: 'Raleway Thin';
	}
	/* mobile */
		@media (max-width: 480px) {
			#quotes{
				height: 20vh;
				margin-top: -15px;
			}
			#quotes #set-wrapper h1{
				padding-top: 30px;
				font-size: 24px;
			}
		}
	/* mobile */
/* quotes */

/* show bottom */
	#show-bottom{
		position: relative;
		width: 100%;
		background-color: rgb(217,217,217);
		margin-top: -20px;
		margin-bottom: 20px;
		padding-top: 20px;
	}
	#show-bottom img#bottom{
		position: absolute;
		width: 100%;
		bottom: -50px;
	}
	#show-bottom #set-wrapper{
		position: relative;
		margin: 0 auto;
		width: 90%;
	}
	#show-bottom #set-wrapper #descrip{
		position: relative;
		float: left;
		width: 40%;
		margin-left: 5%;
		margin-top: 15vh;
	}
	#show-bottom #set-wrapper #descrip h1{
		margin: 0;
		color: rgb(237,28,36);
        font-family: 'Raleway Bold';
	}
	#show-bottom #set-wrapper #descrip p{
		color: rgb(61,61,61);
		margin-bottom: 30px;
		line-height: 1.41;
        font-family: 'Lato Light';
	}
	#show-bottom #set-wrapper #img{
		float: right;
		width: 55%;
	}
	#show-bottom #set-wrapper #img img{
		width: 100%;
		height: auto;
	}
	/* mobile */
		@media (max-width: 480px) {
			#show-top{
				margin-top: 35px;
			}
			#show-bottom img#bottom{
				bottom: -10px;
			}
			#show-bottom #set-wrapper #img{
				float: none;
				position: absolute;
				top: 40px;
				left: 5%;
				right: 5%;
				width: 90%;
			}
			#show-bottom #set-wrapper #descrip{
				margin: 20px 2.5%;
				width: 90%;
				padding: 2.5%;
				background-color: rgba(235,235,235,.75);
				z-index: 1;
			}
			#show-bottom #set-wrapper a.btn-gray{
				position: relative;
				bottom: 10px;
			}
		}
	/* mobile */
/* show bottom */

/* product */
	#product{
		position: relative;
		width: 100%;
	}
	#product #set-wrapper{
		position: relative;
		margin: 0 auto;
		width: 80%;
		padding-top: 40px;
	}
	#product #set-wrapper #title{
		text-align: center;
		margin-bottom: 60px;
	}
	#product #set-wrapper #title h1{
		margin: 0;
		color: rgb(38,38,38);
        font-family: 'Raleway Bold';
	}
	#product #set-wrapper #title p{
		color: rgb(74,74,74);
        font-family: 'Raleway Light';
	}
	#product #set-wrapper .text-center{
		margin: 20px auto;
	}
	#product #set-wrapper .text-center a{
		background-color: rgb(11,13,59);
		color: white;
		padding: 5px 25px;
		text-decoration: none;
		transition: all .56s;
        font-family: 'Raleway SemiBold';
	}
	#product #set-wrapper .text-center a:hover{
		background-color: rgba(11,13,59,.6);
	}
/* product */
